<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c.infrastructure.dao.McpProtocolMappingDao">

    <resultMap id="mcpProtocolMappingMap" type="com.c.infrastructure.dao.po.McpProtocolMappingPO">
        <id property="id" column="id"/>
        <result property="gatewayId" column="gateway_id"/>
        <result property="toolId" column="tool_id"/>
        <result property="mappingType" column="mapping_type"/>
        <result property="parentPath" column="parent_path"/>
        <result property="fieldName" column="field_name"/>
        <result property="mcpPath" column="mcp_path"/>
        <result property="mcpType" column="mcp_type"/>
        <result property="mcpDesc" column="mcp_desc"/>
        <result property="isRequired" column="is_required"/>
        <result property="httpPath" column="http_path"/>
        <result property="httpLocation" column="http_location"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="all_columns">
        id, gateway_id, tool_id, mapping_type, parent_path, field_name, mcp_path,
        mcp_type, mcp_desc, is_required, http_path, http_location, sort_order, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.c.infrastructure.dao.po.McpProtocolMappingPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mcp_protocol_mapping (gateway_id, tool_id, mapping_type, parent_path, field_name, mcp_path, mcp_type,
                                          mcp_desc, is_required, http_path, http_location, sort_order, create_time, update_time)
        VALUES (#{gatewayId}, #{toolId}, #{mappingType}, #{parentPath}, #{fieldName}, #{mcpPath}, #{mcpType},
                #{mcpDesc}, #{isRequired}, #{httpPath}, #{httpLocation}, #{sortOrder}, NOW(), NOW())
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM mcp_protocol_mapping
        WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.c.infrastructure.dao.po.McpProtocolMappingPO">
        UPDATE mcp_protocol_mapping
        <set>
            <if test="gatewayId != null">gateway_id = #{gatewayId},</if>
            <if test="toolId != null">tool_id = #{toolId},</if>
            <if test="mappingType != null">mapping_type = #{mappingType},</if>
            <if test="fieldName != null">field_name = #{fieldName},</if>
            <if test="mcpPath != null">mcp_path = #{mcpPath},</if>
            <if test="isRequired != null">is_required = #{isRequired},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultMap="mcpProtocolMappingMap">
        SELECT
        <include refid="all_columns"/>
        FROM mcp_protocol_mapping WHERE id = #{id}
    </select>

    <select id="queryAll" resultMap="mcpProtocolMappingMap">
        SELECT
        <include refid="all_columns"/>
        FROM mcp_protocol_mapping ORDER BY sort_order ASC
    </select>

</mapper>